<div class="row">
  <div class="col-sm-10 col-md-8 col-lg-6 m-auto">
    <div class="card mt-4 p-2">
      <h2 class="display-4 text-center text-danger">Oops</h2>
      <p class="display-4 text-danger text-center p-1">
        Something Went Wrong
      </p>
      <a class="btn btn-link btn-primary text-white" href="/">Back Home</a>
    </div>
  </div>
</div>
