<div class="row">
  <div class="col-sm-10 col-md-8 col-lg-6 m-auto">
    <div class="card mt-4">
      <% if(email){%>
      <p class="text-center text-success display-5">
        Thank you <%= email %>
      </p>
      <%}%>

      <p class="display-4 text-success text-center p-1">
        Your Subscription Was Successful
      </p>
      <a class="btn btn-link btn-primary text-white" href="/">Back Home</a>
    </div>
  </div>
</div>
